{% extends "base.html" %}

{% block content %}
  <h1>Cleaners</h1>
  <a href="{% url 'cleaning:cleaner-create' %}">
    Create Cleaner
  </a>
  <br>
  <form method="get">
    <input type="text" name="search" value="{{ request.GET.search }}">
    <a href="{% url 'cleaning:cleaner-list' %}">×</a>
    <button type="submit">Search</button>

  </form>
  {% for cleaner in cleaner_list %}
    <p>
      <a href="{% url 'cleaning:cleaner-detail' cleaner.pk %}">
        {{ cleaner.first_name }} {{ cleaner.last_name }}
      </a>
    </p>
  {% endfor %}

  {% if request.GET.search and not cleaner_list %}
    <p>No cleaners found for "{{ request.GET.search }}".</p>
  {% endif %}

{% endblock %}
