{% extends "base.html" %}

{% block content %}
  <h1>Cleanings</h1>

  <a href="{% url 'cleaning:cleaning-create' %}">
    Create Cleaning
  </a>

  <form method="get">
    <input type="text" name="search" value="{{ request.GET.search }}">
      <a href="{% url 'cleaning:cleaning-list' %}">×</a>
    <button type="submit">Search</button>

    <select name="status" onchange="this.form.submit()">
      <option value="" {% if request.GET.status == "" %}selected{% endif %}>
        All
      </option>

      <option value="planned"
            {% if request.GET.status == "planned" %}selected{% endif %}>
        Planned
      </option>

      <option value="in progress"
            {% if request.GET.status == "in progress" %}selected{% endif %}>
        In progress
      </option>

      <option value="finished"
            {% if request.GET.status == "finished" %}selected{% endif %}>
        Finished
      </option>

      <option value="canceled"
              {% if request.GET.status == "canceled" %}selected{% endif %}>
        Canceled
      </option>
    </select>

    <select name="cleaning_type" onchange="this.form.submit()">
      <option value="">All</option>
        {% for cleaning_type in cleaning_types %}
      <option
          value="{{ cleaning_type.pk }}"
          {% if request.GET.cleaning_type == cleaning_type.pk|stringformat:"s" %}
            selected
          {% endif %}
      >
        {{ cleaning_type.name }}
      </option>
      {% endfor %}
    </select>

  </form>

  {% for cleaning in cleaning_list %}
    <p>
      <a href="{% url 'cleaning:cleaning-detail' cleaning.pk %}">
        {{ cleaning }}
      </a>
    </p>
  {% endfor %}

  {% if request.GET.search and not cleaning_list %}
    <p>No cleanings found for "{{ request.GET.search }}".</p>
  {% endif %}

{% endblock %}
