{% extends "base.html" %}

{% block content %}
  <h1>{{ cleaner.first_name }} {{ cleaner.last_name }}</h1>

  <p>Phone: {{ cleaner.phone }}</p>

  <h2>Cleaning types</h2>

  {% for cleaning_type in cleaner.cleaning_types.all %}
    <p>{{ cleaning_type.name }}</p>
  {% endfor %}
  <a href="{% url 'cleaning:cleaner-update' cleaner.pk %}">
    Update
  </a>
  <br>
  <a href="{% url 'cleaning:cleaner-delete' cleaner.pk %}">
    Delete
  </a>
  <br>
  <a href="{% url 'cleaning:cleaner-list' %}">
    Back to cleaners
  </a>
{% endblock %}