{% extends "base.html" %}

{% block content %}
  <h1>Cleanings</h1>

  <a href="{% url 'cleaning:cleaning-create' %}">
    Create Cleaning
  </a>

  <form method="get">
    <input type="text" name="search" value="{{ request.GET.search }}">
      <a href="{% url 'cleaning:cleaning-list' %}">×</a>
    <button type="submit">Search</button>

  </form>

  {% for cleaning in cleaning_list %}
    <p>
      <a href="{% url 'cleaning:cleaning-detail' cleaning.pk %}">
        {{ cleaning }}
      </a>
    </p>
  {% endfor %}

  {% if request.GET.search and not cleaning_list %}
    <p>No cleanings found for "{{ request.GET.search }}".</p>
  {% endif %}

{% endblock %}
